.counter-label {
    @apply text-xs sm:text-sm text-black;
}

/* Counter controls */
.counter-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Counter Value (Square Container) */
.counter-value {
    width: 35px;
    height: 37.333px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0.5px solid #CCC;
    text-align: center;
    @apply text-xs sm:text-sm font-medium text-black bg-white;
}

/* Pet Friendly Checkbox */
.dropdown-option-checkbox {
    margin-top: 10px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    @apply text-xs sm:text-sm text-black font-normal;
}

/* Buttons */
.dropdown-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}